# Dependencies
node_modules/
yarn.lock

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Build outputs
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
